footer {
    background-color: orange;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        width: 60px;
        height: 60px;
    }
    h2{
        text-align: right;
    }
}

.heros {
    img{
        height: 270px;
        width: 300px;
    }
}

.logoss{
    div{
        display: flex;
        justify-content: space-around;
        
    }
    img{
        height: 30px;
        width: 30px;
    }
    .images div{
        display: flex;
        justify-content: space-around;
    }
}
